<a href="https://colab.research.google.com/github/EUDA289/mulcam_b_4/blob/jeje/%EB%89%B4%EC%8A%A4%EA%B8%B0%EC%82%AC%EC%99%80_%EC%BD%9C%EA%B8%88%EB%A6%AC_Merge.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
articles_tokenized_ngramed = pd.read_csv('drive/My Drive/your_ngram/articles_tokenized_ngramed.csv')

In [2]:
articles = articles_tokenized_ngramed.copy()
articles

              date  ...                                             N-gram
0       2005-05-01  ...  ['자산/NNG;건전성/NNG;개선/NNG', '무수익여신/NNG;증가/NNG', ...
1       2005-05-01  ...  ['인플레이션/NNG;압력/NNG;억제/NNG', '금리/NNG;인상/NNG;긴축/...
2       2005-05-01  ...  ['기업/NNG;수익성/NNG;악화/NNG;우려/NNG', '경제/NNG;지표/NN...
3       2005-05-01  ...  ['글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG;강세/NNG', '경기/NN...
4       2005-05-01  ...  ['대출/NNG;연체율/NNG;오르/VV', '대출/NNG;연체율/NNG;높/VA'...
...            ...  ...                                                ...
192728  2017-12-31  ...  ['체질/NNG;개선/NNG;성장/NNG;잠재력/NNG;확충/NNG', '수요측면/...
192729  2017-12-31  ...  ['은행/NNG;예금/NNG;금리/NNG;오르/VV', '금리/NNG;인상/NNG'...
192730  2017-12-31  ...  ['미/NNG;금리/NNG;인상/NNG', '전세가격/NNG;안정/NNG', '판매...
192731  2017-12-31  ...                       ['주택담보대출/NNG;금리/NNG;최대/NNG']
192732  2017-12-31  ...  ['대출/NNG;상환/NNG;부담/NNG;증가/NNG', '가계/NNG;부채/NNG...

[192733 rows x 6 columns]

In [3]:
articles.isna().sum()

date            0
source          0
title           0
content      1710
Tokenized       0
N-gram          0
dtype: int64

In [4]:
articles = articles.dropna(axis=0)

In [5]:
articles

              date  ...                                             N-gram
0       2005-05-01  ...  ['자산/NNG;건전성/NNG;개선/NNG', '무수익여신/NNG;증가/NNG', ...
1       2005-05-01  ...  ['인플레이션/NNG;압력/NNG;억제/NNG', '금리/NNG;인상/NNG;긴축/...
2       2005-05-01  ...  ['기업/NNG;수익성/NNG;악화/NNG;우려/NNG', '경제/NNG;지표/NN...
3       2005-05-01  ...  ['글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG;강세/NNG', '경기/NN...
4       2005-05-01  ...  ['대출/NNG;연체율/NNG;오르/VV', '대출/NNG;연체율/NNG;높/VA'...
...            ...  ...                                                ...
192728  2017-12-31  ...  ['체질/NNG;개선/NNG;성장/NNG;잠재력/NNG;확충/NNG', '수요측면/...
192729  2017-12-31  ...  ['은행/NNG;예금/NNG;금리/NNG;오르/VV', '금리/NNG;인상/NNG'...
192730  2017-12-31  ...  ['미/NNG;금리/NNG;인상/NNG', '전세가격/NNG;안정/NNG', '판매...
192731  2017-12-31  ...                       ['주택담보대출/NNG;금리/NNG;최대/NNG']
192732  2017-12-31  ...  ['대출/NNG;상환/NNG;부담/NNG;증가/NNG', '가계/NNG;부채/NNG...

[191023 rows x 6 columns]

In [6]:
articles['N-gram']=articles['N-gram'].apply(lambda x : x.replace('[','').replace(']','').replace('\'',''))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
articles['N-gram']

0         자산/NNG;건전성/NNG;개선/NNG, 무수익여신/NNG;증가/NNG, 수익성/N...
1         인플레이션/NNG;압력/NNG;억제/NNG, 금리/NNG;인상/NNG;긴축/NNG,...
2         기업/NNG;수익성/NNG;악화/NNG;우려/NNG, 경제/NNG;지표/NNG;성장...
3         글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG;강세/NNG, 경기/NNG;지표...
4         대출/NNG;연체율/NNG;오르/VV, 대출/NNG;연체율/NNG;높/VA, 대출심...
                                ...
192728    체질/NNG;개선/NNG;성장/NNG;잠재력/NNG;확충/NNG, 수요측면/NNG;...
192729    은행/NNG;예금/NNG;금리/NNG;오르/VV, 금리/NNG;인상/NNG, 금리/...
192730    미/NNG;금리/NNG;인상/NNG, 전세가격/NNG;안정/NNG, 판매/NNG;부...
192731                             주택담보대출/NNG;금리/NNG;최대/NNG
192732    대출/NNG;상환/NNG;부담/NNG;증가/NNG, 가계/NNG;부채/NNG;질적/...
Name: N-gram, Length: 191023, dtype: object

In [9]:
articles['Tokenized']=articles['Tokenized'].apply(lambda x : x.replace('[','').replace(']','').replace('\'',''))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
articles['Tokenized']

0         경수/NNG, 기자/NNG, 은행/NNG, 전쟁/NNG, 원년/NNG, 전적/NNG...
1         뉴욕/NNG, 안/MAG, 근모/NNG, 특파원/NNG, 시장/NNG, 방향/NNG...
2         공희/NNG, 정기/NNG, 잔인/NNG, 실적시즌/NNG, 기업/NNG, 내놓/V...
3         기자/NNG, 선대/NNG, 출발/NNG, 하/VV, 증시/NNG, 선대/NNG, ...
4         대비/NNG, 낮/VA, 기자/NNG, 중소기업/NNG, 대출/NNG, 연체율/NN...
                                ...
192728    기자/NNG, 신년사/NNG, 통하/VV, 변화/NNG, 방향/NNG, 예측/NNG...
192729    판매/NNG, 정기/NNG, 예금/NNG, 중/NNG, 금리/NNG, 정기/NNG,...
192730    연/NNG, 기자/NNG, 신문/NNG, 기사/NNG, 면/NNG, 영세/NNG, ...
192731    삼정/NNG, 안보리/NNG, 제재/NNG, 반대/NNG, 블랙리스트/NNG, 지정...
192732    기자/NNG, 은행/NNG, 비롯/NNG, 금융/NNG, 모두/NNG, 자산/NNG...
Name: Tokenized, Length: 191023, dtype: object

In [ ]:
# (articles['Tokenized'][0] + ', ' + articles['N-gram'][0])

In [ ]:
# articles['N-gram'][0] + ', ' + 'aa'

In [11]:
articles['ngram(token+ngram)'] = articles['N-gram'] + ', '+ articles['Tokenized']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [12]:
articles['ngram(token+ngram)']

0         자산/NNG;건전성/NNG;개선/NNG, 무수익여신/NNG;증가/NNG, 수익성/N...
1         인플레이션/NNG;압력/NNG;억제/NNG, 금리/NNG;인상/NNG;긴축/NNG,...
2         기업/NNG;수익성/NNG;악화/NNG;우려/NNG, 경제/NNG;지표/NNG;성장...
3         글로벌/NNG;경기/NNG;둔화/NNG;우려/NNG;강세/NNG, 경기/NNG;지표...
4         대출/NNG;연체율/NNG;오르/VV, 대출/NNG;연체율/NNG;높/VA, 대출심...
                                ...
192728    체질/NNG;개선/NNG;성장/NNG;잠재력/NNG;확충/NNG, 수요측면/NNG;...
192729    은행/NNG;예금/NNG;금리/NNG;오르/VV, 금리/NNG;인상/NNG, 금리/...
192730    미/NNG;금리/NNG;인상/NNG, 전세가격/NNG;안정/NNG, 판매/NNG;부...
192731    주택담보대출/NNG;금리/NNG;최대/NNG, 삼정/NNG, 안보리/NNG, 제재/...
192732    대출/NNG;상환/NNG;부담/NNG;증가/NNG, 가계/NNG;부채/NNG;질적/...
Name: ngram(token+ngram), Length: 191023, dtype: object

In [13]:
articles.isna().sum()

date                  0
source                0
title                 0
content               0
Tokenized             0
N-gram                0
ngram(token+ngram)    0
dtype: int64

In [14]:
articles['N-gram'][5]

'수입/NNG;증대/NNG, 실적/NNG;높/VV'

In [15]:
fin_call_rate = pd.read_csv('drive/My Drive/Projects/final_call_rate(modified).csv')

In [16]:
call_rate = fin_call_rate.copy()
call_rate

            date  rate    date_MoM  rate_MoM up_down
0     2017-12-31  1.58  2017-11-30      1.53      up
1     2017-12-30  1.58  2017-11-30      1.53      up
2     2017-12-29  1.58  2017-11-29      1.26      up
3     2017-12-28  1.55  2017-11-28      1.26      up
4     2017-12-27  1.51  2017-11-27      1.26      up
...          ...   ...         ...       ...     ...
4623  2005-05-05  3.21  2005-04-05      3.24    down
4624  2005-05-04  3.21  2005-04-04      3.24    down
4625  2005-05-03  3.30  2005-04-03      3.25      up
4626  2005-05-02  3.29  2005-04-02      3.25      up
4627  2005-05-01  3.29  2005-04-01      3.25      up

[4628 rows x 5 columns]

In [17]:
call_rate = call_rate.rename({'up_down' : '1_M_close_up_down'}, axis=1)

In [18]:
call_rate

            date  rate    date_MoM  rate_MoM 1_M_close_up_down
0     2017-12-31  1.58  2017-11-30      1.53                up
1     2017-12-30  1.58  2017-11-30      1.53                up
2     2017-12-29  1.58  2017-11-29      1.26                up
3     2017-12-28  1.55  2017-11-28      1.26                up
4     2017-12-27  1.51  2017-11-27      1.26                up
...          ...   ...         ...       ...               ...
4623  2005-05-05  3.21  2005-04-05      3.24              down
4624  2005-05-04  3.21  2005-04-04      3.24              down
4625  2005-05-03  3.30  2005-04-03      3.25                up
4626  2005-05-02  3.29  2005-04-02      3.25                up
4627  2005-05-01  3.29  2005-04-01      3.25                up

[4628 rows x 5 columns]

In [19]:
df_articles = pd.merge(call_rate, articles, how='inner', on='date')

In [21]:
df_articles = df_articles.drop(['rate','date_MoM','rate_MoM'],axis=1)

In [22]:
df_articles = df_articles.drop(['Tokenized','N-gram'],axis=1)

In [23]:
df_articles = df_articles[['date','title','content','ngram(token+ngram)','1_M_close_up_down','source']]

In [24]:
df_articles

              date  ... source
0       2017-12-31  ...   연합뉴스
1       2017-12-31  ...   이데일리
2       2017-12-31  ...   이데일리
3       2017-12-31  ...   이데일리
4       2017-12-31  ...   이데일리
...            ...  ...    ...
191018  2005-05-01  ...   이데일리
191019  2005-05-01  ...   이데일리
191020  2005-05-01  ...   이데일리
191021  2005-05-01  ...   연합뉴스
191022  2005-05-01  ...   이데일리

[191023 rows x 6 columns]

In [26]:
df_articles.to_csv('drive/My Drive/Projects/callrate_merged_articles.csv',index=False)

In [28]:
pd.read_csv('drive/My Drive/Projects/callrate_merged_articles.csv')

              date  ... source
0       2017-12-31  ...   연합뉴스
1       2017-12-31  ...   이데일리
2       2017-12-31  ...   이데일리
3       2017-12-31  ...   이데일리
4       2017-12-31  ...   이데일리
...            ...  ...    ...
191018  2005-05-01  ...   이데일리
191019  2005-05-01  ...   이데일리
191020  2005-05-01  ...   이데일리
191021  2005-05-01  ...   연합뉴스
191022  2005-05-01  ...   이데일리

[191023 rows x 6 columns]